:root {
    --darkBlue: hsl(212, 21%, 14%);
    --grayBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fondoPrincipal: hsl(313, 40%, 89%);
    --boton: #3d8168;

    --fuenteSecundaria: 'Montserrat', sans-serif;
    --fuentePrincipal: 'Fraunces', serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reset para REMS - 62.5% = 10px de 16px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-color: var(--fondoPrincipal);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* Globales */
.contenedor {
    max-width: 140rem;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1024px) {
}

img {
    max-width: 100%;
}

.w-full {
    width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.8;
}

/* Card */
.card {
    background-color: var(--white);
    border-radius: 1rem;
}

@media (min-width: 1024px) {
    .card {
        display: flex;
        width: 80rem;
        column-gap: 1rem;
    }
}

.card__imagen img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Card Contenido */
.card__contenido {
    margin-top: 1.5rem;
}

@media (min-width: 1024px) {
    .card__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card__imagen img {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.span {
    font-family: var(--fuenteSecundaria);
    color: var(--grayBlue);
    text-transform: uppercase;
    margin-bottom: .9rem;
}

.titulo {
    font-family: var(--fuentePrincipal);
    color: var(--darkBlue);
    margin-bottom: 1.5rem;
}

.descripcion {
    font-family: var(--fuenteSecundaria);
    color: var(--grayBlue);
    margin-bottom: 1rem;
}

.precio {
    display: flex;
    column-gap: 1.8rem;
    align-items: center;
    margin-bottom: 1rem;
}

.precio__ahora {
    font-size: 2.2rem;
    color: var(--boton);
    font-family: var(--fuentePrincipal);
}

.precio__antes {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--grayBlue);
}

.boton {
    display: inline-block;
    margin-bottom: 1rem;
    background-color: var(--boton);
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-family: var(--fuenteSecundaria);
    border-radius: .5rem;
}
@media (min-width: 1024px) {
    .boton {
        width: 99%;
    }
}